.Button
    background-color: #ff0084;
    color: white;
    padding: 100px 200px;
    border: solid 2px #09ff00;
    border-radius: 4px;
    cursor: progress;
    font-size: 32px;
    text-decoration: dashed;
    &:hover
        background-color: #09ff00;
        color: #ff0084;